<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <link rel="stylesheet" href="/Style/style.css">
    <title>ChatApp</title>
</head>
<body>
    <div class="container">
        <h2>Chat Time</h2>
        <div class="body">
            <div>
                <div class="chat" id="chat">
                </div>
                <div id="feedback"></div>
            </div>
                <div class="form">
                        <input type="text" id="name" class="name" placeholder="Name..." />
                        <br />
                        <input type="text" id="text" class="text" placeholder="Text..."/>
                        <button id="btn"> Chat </button>
                </div>
        </div>
    </div>

    <script src="/JavaScript/main.js"></script>
</body>
</html>